@media screen and (max-width: 575px) {
  #img-size {
    width: 100px;
    height: 100px;
    margin: 1px;
  }
  .navbar-changes {
    width: 100vw;
    height: 150px;
    background: linear-gradient(to bottom,#1B2629,#263447,#4A5B6A,#728495,#98A9BE);
  }
  .offcanvas-title {
    margin-left: 80px;
  }
  .btn-toggler {
    position: relative;
    bottom: 50px;
    left: 170px;
  }
  .try {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icons {
    margin: 0px 20px;
  }
}
@media screen and (min-width: 576px) {
  #img-size {
    width: 120px;
    height: 120px;
    margin: 1px;
  }
  .navbar-changes {
    max-width: 767px;
    height: auto;
    background: linear-gradient(to bottom,#1B2629,#263447,#4A5B6A,#728495,#98A9BE);
  }
  .offcanvas-title {
    margin-left: 80px;
  }
  .btn-toggler {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .try {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icons {
    margin: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-changes {
    max-width: 180px;
    height: 100vh;
    background: linear-gradient(to bottom,#98A9BE,#728495,#4A5B6A,#263447,#1B2629);
  }
  #img-size {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .social-icons {
    padding: 2px;
    margin-bottom: 500px;
    margin-left: 15px;
  }
  .text_type{
    font-size: 18px;

  }
}
@media screen and (min-width: 992px) {
  .navbar-changes {
    max-width: 180px;
    height: 100vh;
    background: linear-gradient(to bottom,#98A9BE,#728495,#4A5B6A,#263447,#1B2629);

  }
  #img-size {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .social-icons {
    padding: 2px;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .text_type{
    font-size: 18px;

  }
}
