<div class="container">
  <div class="row">
    <div class="col-6 col-md-6">
      <h1 class="generalfont">My, Myself & <mark class="mark">I</mark></h1>
    </div>
    <div class="col-6 col-md-6">
      <img src="./assets/img/torreslogo.PNG" id="fullstack" alt="full stack developer">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square"
          viewBox="0 0 20 20" id="icon-edit" onclick="cambiar_parrafo()">
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>

        <p class="text-aboutme">I'm a student of Computer Engineering at University of Buenos Aires -
          Argentina.<br>
          I have been working with some programming language like Python, JavaScript, TypeScript, C and
          Java.
        </p>
        <p class="text-aboutme">Also I development a game like university project.
        In tecnology industry I have experience with IT Support.<br>
        I would like to work in a company to give my knowledge while I get up my profesional career.
        </p>





      </div>

      <div>
        <input id="edit-aboutme" type="text" oninput="asignar_palabras(this.value)" style="display: none;">
      </div>

    </div>
  </div>


</div>
