/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #B4C5DB, #98A9BE, #728495, #4A5B6A, #263447, #1B2629);

}

